p.p1 {
  font: 10px arial, sans-serif;
}

p.p2 {
  font: italic bold 15px/30px Georgia, serif;
}

img.image1
{
	height:50px;
	width:50px;
}

img.image2
{
	height:50px;
	width:50px;
}

a:link {background-color:#76c75b;}
a:visited {background-color:#cfcf5d;}
a:hover {background-color:#b6604a;}
a:active {background-color:#c7330f;}

img.image3
{
  margin:20px 20px 20px 20px;
}

span.s {
float: left;
width: 0.7em;
font-size: 250%;
font-family: algerian, courier;
line-height: 80%;
}

div.c
{
text-align:center;
border:20px dotted #a1a1a1;
padding:10px 40px;
background:#dddddd;
width:300px;
border-radius:25px;
}
